body {
  margin: 0;
  background: linear-gradient(to right, #58676e, #306b48);
}
.calci-grid {
  display: grid;
  margin-top: 5rem;
  justify-content: center;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}
.calci-grid > button {
  font-size: 2rem;
  cursor: pointer;
}
.calci-grid > button:hover,
.calci-grid > button:focus {
  background-color: #296480;
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}
.previous-operand {
  font-size: 2rem;
}
.current-operand {
  font-size: 3rem;
}
